@import '../../sass/main.scss';

.post {
  padding: 3rem 3rem;
  border: 1px solid rgba($color-grey-dark, 1);
  width: 65rem;
  border-radius: 20px;
  display: grid;
  grid-template-columns: max-content 1fr;
  animation: opacityFull 1s;

  @include respond(phone) {
    width: 100%;
  }

  &__vote {
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__delete {
    cursor: pointer;
    margin-top: 0.2rem;
    transition: all 0.3s;
    font-size: 1.7rem;
    color: rgba($color-grey-dark, 0.6);
    &:hover {
      color: #e11820;
      transform: scale(1.1);
    }
  }

  &__content {
    width: 100%;
    cursor: pointer;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;

    & > * {
      &:not(:first-child) {
        margin-top: 1rem;
      }
      &:last-child {
        margin-top: 2rem;
      }
    }

    h2 {
      word-break: break-all;

      font-size: 2rem;
      line-height: 1;
      color: $color-secondary;
    }

    span {
      color: $color-primary;
      font-size: 1.1rem;
      display: block;
      margin-top: 0.2rem;
    }

    p {
      word-break: break-all;

      font-size: 1.3rem;

      span {
        cursor: pointer;
        color: $color-primary;
        transition: all 0.2s;

        &:hover {
          color: $color-secondary;
        }
      }
    }

    img {
      align-self: center;
      max-height: 35rem;
      max-width: 90%;
      @include respond(phone) {
        max-width: 70%;
      }
    }
  }

  &__categories {
    margin-top: auto;
    // display: flex;
    // display: grid;
    // grid-template-rows: min-content;
    & > * {
      &:not(:last-child) {
        margin-right: 1.2rem;
      }
      margin-top: 1rem;
    }
  }

  &__comment {
    color: $color-secondary;
    font-size: 1.3rem;
    span {
      padding-left: 0.5rem;
    }
  }
}
