@import '../../sass/main.scss';

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  i {
    font-size: 3rem;
    color: $color-primary;
    transition: all 0.3s;
  }

  &--click {
    cursor: pointer;
    &:hover {
      color: $color-secondary;
    }
  }

  &--up {
    transform: translateY(9px);
  }

  &--down {
    transform: translateY(-10px);
  }

  &__number {
    display: block;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    font-weight: 400;
  }
}
