// COLORS
$color-primary: #e5640c;
$color-secondary: #07a699;
$color-tertiary: #ffb9b9;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #2f2e41;
$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: 'Poppins', sans-serif;
$font-display: 'Righteous', sans-serif;
$font-logo: 'Sansita', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
