@import '../../sass/main.scss';

.comment {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  animation: opacityFull 1.5s;

  align-items: center;
  grid-column-gap: 1.5rem;
  border: 1px solid $color-grey-dark;
  border-radius: 20px;
  padding: 1.2rem 2rem;
  &__vote {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 1.3rem;
    word-break: break-word;
  }
  &__date {
    font-size: 1.2rem;
    word-break: break-word;

    color: $color-primary;
  }

  &__picture {
    margin-top: 1.9rem;
    align-self: start;
  }

  &__content {
    margin-top: 1.9rem;
    align-self: start;
  }

  &__delete {
    cursor: pointer;
    margin-top: 0.2rem;
    transition: all 0.3s;
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    color: rgba($color-grey-dark, 0.6);
    &:hover {
      color: #e11820;
      transform: scale(1.1);
    }
  }
  &__sentiment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--text {
      line-height: 1;
      font-size: 1.15rem;
    }
    i {
      margin: 0.6rem 0;
      margin-bottom: 0.5rem;
      font-size: 3.7rem;
    }
    span {
      color: $color-primary;
      font-size: 1.4rem;
    }
  }
}
