@import '../../sass/main.scss';

.comment {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  animation: opacityFull 1.5s;

  align-items: center;
  grid-column-gap: 1rem;
  border: 1px solid $color-grey-dark;
  border-radius: 20px;
  padding: 1.2rem 2rem;
  &__text {
    font-size: 1.3rem;
    word-break: break-word;
  }
  &__date {
    font-size: 1.2rem;
    word-break: break-word;

    color: $color-primary;
  }
  &__sentiment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--text {
      line-height: 1;
      font-size: 1.15rem;
    }
    i {
      margin: 0.6rem 0;
      margin-bottom: 0.5rem;
      font-size: 3.7rem;
    }
    span {
      color: $color-primary;
      font-size: 1.4rem;
    }
  }
}
