@import '../../sass/main.scss';

.searchpage {
  position: relative;

  margin-top: 8vh;
  padding: 0 20rem;
  padding-top: 3rem;
  min-height: 92vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(tab-port) {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  @include respond(phone) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__filter {
    width: 60%;
    @include respond(tab-land) {
      width: 75%;
    }
    @include respond(tab-port) {
      width: 85%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }

  &__post {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(phone) {
      margin-top: 2rem;
    }
    & > * {
      margin-top: 2rem;
    }
  }

  &__spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__page {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: $color-primary;

    span {
      color: $color-grey-dark;
      margin: 0 2rem;
    }
    i {
      cursor: pointer;
      font-size: 4rem;
      transition: all 0.3s;
      &:hover {
        color: $color-secondary;
      }
    }
    &--hidden {
      visibility: hidden;
    }
  }
}
