@import '../../sass/main.scss';

.forgot-password {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-row-gap: 1rem;
  p {
    font-size: 1.4rem;
  }
  span {
    cursor: pointer;
    // margin-top: 0.5rem;
    font-size: 1.4rem;
    color: $color-primary;
    font-weight: 400;
    transition: all 0.3s;

    &:hover {
      color: $color-secondary;
    }
  }
  input {
    margin-top: 0.5rem;
    width: 80%;
    border-radius: 10px;
    padding: 0.4rem 1rem;
    border: 2px solid rgba($color-grey-dark, 0.2);
    transition: all 0.3s;
    font-family: inherit;
    color: inherit;
    font-size: 1.3rem;

    &:focus {
      outline: none;
      border: 2px solid $color-secondary;
    }

    &:focus:invalid {
      border: 2px solid #f70d00;
    }

    &:invalid {
      border: 2px solid #f70d00;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-grey-dark;
    }
  }
}
